body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 5vw;
    line-height: 1.42857143;
    color: #aaaaaa;
    
   
}
#cabecera{
    width:100%;
    height:auto;
    margin-left:0px;
    text-align: center;
    
}
#imgwiedii{
    width: 50%;  
    height: 11vw;
    margin-top: 1vw;
}

#bini {
    margin-top: 1vw;
    background-color: transparent; 
    border: 4px solid rgb(2, 181, 222);
    color: rgb(2, 181, 222);
    padding: 3vw 6vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5vw;
    border-radius: 12px;
  }

  #menuusu {
    margin-top: 2vw;
    background-color: transparent; 
    border: 4px solid rgb(2, 181, 222);
    color: rgb(2, 181, 222);
    padding: 9vh 6vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5vw;
    border-radius: 12px;
  }

    
#eadmin{
    width: 100%;  
    height: 17vw;
    margin-top: 1vw;
    text-align: center;
    }
#badmin {
      margin-top: 2vw;
      background-color:transparent; 
      border: none;
      padding: 4vh 9vw;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 7vw;
      border-radius: 12px;
    }
#mensajeb {
  margin-top: 2vw;
  background-color: white; 
  border: none;
  color: rgb(2, 181, 222);
  padding: 6vh 2vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 7vw;
  border-radius: 12px;
}

#txtmb{
  font-size: 5vw;
  text-align: center;
  color: white;
}

#lunch {
  margin-top: 2vw;
  background-color: transparent; 
  border: 4px solid rgb(2, 181, 222);
  color: rgb(2, 181, 222);
  padding: 1vh 6vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 5vw;
  border-radius: 12px;
}
#icorreo {
  margin-top: 2vw;
  background-color: transparent; 
  border: 4px solid rgb(2, 181, 222);
  color: rgb(2, 181, 222);
  padding: 3vh 3vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 5vw;
  border-radius: 12px;
}
#binh {
  margin-top: 1vw;
  background-color: transparent; 
  border: 4px solid rgb(2, 181, 222);
  color: rgb(2, 181, 222);
  padding: 3vw 2vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 5vw;
  border-radius: 12px;
}

#badmin:active,#icorreo:active{
  background-color: rgb(2, 181, 222);
  color: rgb(2, 181, 222);
}
#binh:active,#menuusu:active,#mensajeb:active,#bini:active,#lunch:active{
  background-color: rgb(2, 181, 222);
  color: white} 
#binh:focus,#bini:focus,#menuusu:focus,#mensajeb:focus,#badmin:focus,#lunch:focus {outline:0;}

/* inicio reloj*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenedor {
  width: 5vw;
  height: 10vw;
  position: absolute;
  max-width: 10vw;
  margin: auto;
  background: transparent;
}
.widget {
  width: 2vw;
  height: 2vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.widget p {
  display: inline-block;
  line-height: 2vw;
  margin: 10 6 10px;
  color: rgb(2, 181, 222);
}
.fecha {
  font-family: arial;
  text-align: start;
  font-size: 3vw;
  margin-bottom: 5px;
  background: transparent;
  padding: 1vw;
  width: 2vw;
}
.reloj {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 2vw;
  padding: 1vw;
  font-size: 3vw;
  text-align: start;
  background: transparent;
}
.reloj .cajaSegundos {
  display: inline-block;  
}
.reloj .ampm, .reloj .segundos{
  display: block;
  font-size: 1vw;
}/* finalizo reloj*/
#dfusu{
overflow-x: auto;
}
#fusu{
 border-spacing: 0vw;
}
#fusu {
  margin-top: 2px;
  margin-bottom: 1px;
  font-size: 4vw;
  color: rgb(2, 181, 222);
  text-align: left;
}
#fmensaje {
  text-align: center;
}